#footer{
    height: 4em; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #1A3741; 
    opacity: 1;
}
#empty-div{
    height: 5em; 
    width:100%; 
    opacity: 1;
}

.footer-buttons{
    background-color:#F3D410;
    color:  #1A3741;
    margin: 0.5em 1em 0.5em 1em;
    width: 25%
}
.footer-button-div{
    width:60%;
    margin:0.35em 33% 0.35em 33%
}