# Add any directories, files, or patterns you don't want to be tracked by version control
/WasteManagementSystem/nbproject/private/
*.properties
*.class
/bin/
/build/
.settings/
.classpath
.project
private.xml
.jar
.db4o
project-root-directory/
+ build/
+ dist/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml
WasteManagementSystem\nbproject\private\private.properties