.course-buttons{
    margin: 1em 1em auto 1em;
    background-color: #1A3741;
    color: #F3D410;
}

.mat-typography{
    margin: 1em 1em 1em 1em;
}

.create-course-container{
    margin: 1em 1em 1em 1em;
}

.course-create-form{
    min-width: 150px;
    width: 100%;
}

.full-width{
    width: 30%;
}
.full-width-fields{
    width: 100%;
}