<!-- <mat-card class="card"  *ngFor="let courses of enrolledCourses">
  <mat-card-header>
      <img mat-card-avatar>
  </mat-card-header>
  <mat-card-content >
    <li >
      {{courses.progress}}
      {{courses.lastSlideIndex}}
      {{courses.course.course_learners}}

    </li>
    {{course}}
  </mat-card-content>
  <mat-card-actions>
      <button mat-button (click)="gotoView(courses)"> Get Trained </button>
       <button mat-button>Continue</button> -->
<!-- </mat-card-actions>
</mat-card>
<div>

</div> -->
<div *ngIf="! enrolledCourses">
  <h1>{{ noCourseMessage }}</h1>
</div>
<div class="card" *ngFor="let courses of enrolledCourses">
    <div class="card-header">
        <div id="title">
            {{courses.course.course_title}}
        </div>
    </div>

    <div class="card-content">
        <div id="content">
            {{courses.course.course_description}}
        </div>
    </div>

    <div class="card-footer">
        <div class="progress">
            <p class="text-progress">{{courses.progress * 100 /courses.course.course_contents.length }}% completed</p>
        </div>
        <div class="gettrained">
            <button mat-raised-button class = "gettrained-button" (click)="gotoView(courses)"> {{courses.progress == 0? "GET TRAINED" : "CONTINUE"}}
            </button>
        </div>
    </div>
</div>
