<div>
  <br>
  <mat-card>
    <section class = "mat-typography">
      <h2>Create Category</h2>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createCategoryForm" class="create-category-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Category Name" formControlName="category_name" #category_name>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button class="create-category-buttons" routerLink="/categories">BACK</button>
      &nbsp;
      <button mat-raised-button type="submit" class="create-category-buttons" (click)="addCategory(category_name.value)"
        [disabled]="createCategoryForm.pristine || createCategoryForm.invalid">SAVE</button>
    </form>
  </mat-card>
</div>
