<!-- <Img src = "./assets/science_formula.jpg" width="220" height="140"/> -->
<div class="main-login-container">
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit(loginForm)" class="my-form">
      <Img src="./assets/HomeScreenLogo.png" width="220" height="140">
      <div>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email"
            placeholder="Email" required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :loginForm.submitted && !email.valid }">
          <div *ngIf="loginForm.submitted && email.errors">
            <mat-error *ngIf="email?.errors.required" class="validation-message">This field is required.</mat-error>
            <mat-error *ngIf="email?.errors.pattern" class="validation-message">Invalid email address.</mat-error>
          </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
            placeholder="Password" minlength="4" required [ngClass]="{'invalid-textbox' :loginForm.submitted && !password.valid }">
          <div *ngIf="loginForm.submitted && password.errors">
            <mat-error *ngIf="password?.errors.required" class="validation-message">This field is required.</mat-error>
            <mat-error *ngIf="password?.errors.minlength" class="validation-message">Enter at least 6 characters.</mat-error>
          </div>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit">LOG IN</button>
    </form>
  </mat-card-content>
  <div class="alert" *ngIf="showErrorMessage">
    {{ errorMessage }}
  </div>
  <div>
    <p class="new-user">NEW USER? <a href="http://localhost:4200/register">SIGN UP</a></p>
  </div>
</div>
